<div class='about'>
  <h2>Conózcanos</h2>
  
  <div class='about-element'> 
    <h3>¿Quiénes somos?</h3>
    <p>En Imaginatio nos especializamos en el desarrollo de aplicaciones web 
    y móviles. Contamos con experiencia elaborando e innovando en el desarrollo
    de soluciones, con un equipo especializado en la producción de la mejor
    solución para nuestros clientes.</p>
  </div>
  
  <div class='about-element'> 
    <h3>Nuestros Valores</h3>
    <p>Trabajo en equipo, honestidad y desarrollo de nuestra relación con nuestros
    clientes son los puntos indispensables para conformar un ambiente de 
    trabajo ameno y una relación respetuosa con nuestros clientes.</p>
  </div>


  <div class='about-element'> 
    <h3>Nuestros Objetivos</h3>
    <p>Nuestro objetivo es ser los cómplices de nuestros clientes. Nos 
    comprometemos en brindarles las soluciones que más se adapten a sus 
    necesidades, logrando así contribuir a su crecimiento.</p>
  </div>

</div>

