<div class='products'>
  <h2>Productos</h2>
  <div class='product'>
    <h3>ShopCart</h3>
    
    <ul class='product-description'>
      <li>Carrito de compras</li>
      <li>Integración con Facebook</li>
      <li>Control de Stock de mercadería</li>
      <li>Manejo de publicidad automatizada</li>
      <li>Manejo de noticias y ranking de productos</li>
    </ul>
    
    <img src="#" alt="shopcart logo" />
  </div>
</div>
